## Gradle:
.gradle/
gradle-app.setting
**/build/
**/nbbuild/
**/dist/
**/nbdist/

## Java:
*.class
*.war
*.ear
hs_err_pid*
.attach_pid*

## Android:
/android/libs/
/android/gen/
/android/out/
local.properties
com_crashlytics_export_strings.xml

## Robovm:
/ios/robovm-build/

## iOS:
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/
/ios/IOSLauncher.app
/ios/IOSLauncher.app.dSYM

## IntelliJ, Android Studio:
.cursorj
.idea/
*.ipr
*.iws
*.iml

## Eclipse:
.classpath
.project
**/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans:
/**/nbproject/private/
/**/nbbuild/
/**/dist/
/**/nbdist/

nbactions.xml
nb-configuration.xml

# VS Code
.vscode/

## OS-Specific:
.DS_Store
Thumbs.db

## Miscellaneous:
*~
*.*#
*#*#
*.log

